.container{
    width: 80%;
}
.info{
    float: right;
    color: white;
}
.logout{
    color: white;
    border: none;
    background-color: #4267B2;
    border-left: 1px solid black;
    :hover{
        background-color: #3B5DA0;
        border-radius: 5px;
    }
}
.logo{
    float: left;
    color: white;
    img{
        width: 40px;
        height: auto;
        float: left;
        margin-top: -8px;
    }
    span{
        color: black;
        margin-left: 5px;
        font-weight: bold;
        font-size: 20px;
        margin-top: -10px;
        float: left;
    }
}