.status{
    color: red;
}
.nav-link{
    float: left;
    :hover:not(.active){
        background-color: #ddd;
        border-radius: 5px;
    }
}
.active{
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}
.btn{
    display: block;
    clear: both;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
    
}
.modal-body input{
    width: 100%;
}
.users-list{
    background-color: white;
    border-radius: 5px;
    clear: both;
}
.btn{
    margin: 4px;
    width: 100px;
}
.pagination{
    display: flex;
    justify-content: center;
}
.search-container{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 17px 15px;
    height: 62px;
    p{
        float: left;
        font-size: 20px;
        font-weight: bold;
    }
    form{
        float: right;
    }
}
.gender{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.card-left{
    font-weight: bold;
    color: black;
    width: 500px;
}