<nav class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">
            <i class="fa fa-home"></i> HOME</a>
    </li>
    <li class="nav-item" *ngIf="authentication">
        <a class="nav-link" routerLink="/user" routerLinkActive="active">
            <i class="fa fa-group"></i> USER MANAGEMENT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/detail/{{idUser}}" routerLinkActive="active">
            <i class="fa fa-address-book"></i> PERSONAL INFORMATION</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">
            <i class="fa fa-phone"></i> CONTACT</a>
    </li>
</nav>