<nav class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">
            <i class="fa fa-home"></i> HOME</a>
    </li>
    <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">
            <i class="fa fa-group"></i> USER MANAGEMENT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/account" routerLinkActive="active">
            <i class="fa fa-address-book"></i> PERSONAL INFORMATION</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">
            <i class="fa fa-phone"></i> CONTACT</a>
    </li>
</nav>