.home{
    background-color: white;
    border-radius: 5px;
    height: 450px;
    p{
        padding-top: 10px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    video{
        margin-left: 35px;
        width: 90%;
    }
}